@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAF8;
  --foreground: #1F2937;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #F9FAFB;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
